* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: antiquewhite;
    /* padding: 20px; */
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));

    /* grid-template-rows: 1fr 1fr; */
    /* gap: 20px; */
    /* column-gap: 30px;
    row-gap: 20px; */
}

.sidebar {
    background-color: brown;
}

.layout {
    background: #ccdb08;
}

.childA,
.childB,
.childC,
.childD {
    /* width: 100px;
    height: 100px; */
    background: #1cd519;
}


.item-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.item {
    /* width: 300px;
    height: 300px; */
    /* border: 1px solid black; */
    background-color: #ccdb08;
    text-align: center;
    color: black;

    /* display: grid;
    place-items: center; */

    /* position: relative; */

    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* display: grid;
    place-items: center; */
}

/* 
.item span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

@media (max-width:768px) {
    .container {
        grid-template-columns: 200px 1fr;
    }

}

@media (max-width:420px) {
    .container {
        grid-template-columns: 150px 1fr;
    }
}