* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.box {

    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transition: transform 3s ease;
}

.child {
    width: 50px;
    height: 50px;
    background-color: rgb(66, 240, 8);

}

.box:hover {
    /* transform: translate(50px, 100px); */
    /* transform: scale(1.2); */
    /* transform: rotate(1turn); */
    /* transform: rotate(0.25turn); */
    transform: rotate(2rad);
}

.box:active {
    transform: rotate(90deg);
}

.btn {
    padding: 10px 26px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: aquamarine;
    margin: 0 auto;
    transition: transform 1s ease;
}

.btn:hover {
    background-color: brown;
    color: white;
    /* transform: rotate(-360deg); */
    transform: translateY(-5px);
}

.btn:active {
    transform: scale(0.50);
}

.parent {
    width: 100px;
    height: 100px;
    background-color: chocolate;
    transition: transform 2s ease;
}

.parent:hover {
    /* transform: skew(20deg); */
    /* transform: skewX(20deg); */
    /* transform: skewX(-20deg); */
    transform: skewY(20deg);
    /* transform: skewY(-20deg); */
}