* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: aliceblue;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.bg-img {
    height: 300px;
    background-image: url('Assets/carbon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-img {
    width: 500px;
    border: 2px solid yellowgreen;

}

.card-img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 300px 50%;
}

.card {
    margin-top: 20px;
    width: 300px;
    cursor: pointer;
    position: relative;
    border: 2px solid rgb(88, 9, 88);
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.card .overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0));

    opacity: 0;
    transform: translateY(100%);
    transition: transform 2s ease;
}

.card:hover .overlay {
    opacity: 1;
    transform: translateY(0);
}