* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    background-color: darkslategray;
    color: beige;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

.divCOn {
    position: relative;
}

.box1,
.box2 {
    width: 300px;
    height: 300px;
}

.box1 {
    /* visibility: visible; */
    /* opacity: 0.1; */
    background-color: brown;
    margin-bottom: 20px;
    position: absolute;
    top: 40%;
}

.box2 {

    background-color: rgb(55, 231, 15);
    margin-top: 10px;
}

span {
    width: 500px;
    margin: 20px;
    /* padding: 20px; */
    color: black;
    background-color: rgb(236, 225, 9);
}

#btn {
    visibility: hidden;
    display: none;
    opacity: 0;
    pointer-events: none;
}

.navbar {
    background-color: chocolate;
    height: 100px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 1;
}

.parent {
    width: 200px;
    height: 200px;
    background-color: chocolate;
    position: relative;
    top: 0;
}

.child {
    width: 100px;
    height: 100px;
    background-color: rgb(185, 230, 8);
    position: absolute;
    top: 10px;
    right: 10px;
}

.wa-btn {
    padding: 10px;
    background-color: green;
    color: aliceblue;
    border: none;
    border-radius: 10px;
    position: fixed;
    bottom: 10%;
    right: 10%;
}

.card {
    width: 200px;
    height: 100px;
    background-color: brown;
    position: relative;
    z-index: 1000;
}

.badge {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
}