* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: white;
}

.carousel {
    width: 100%;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.carousel-track {
    width: 100%;
    display: flex;
}

.carousel-track img {
    width: 100%;
    max-width: 100%;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
}

.btn {
    position: absolute;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background: linear-gradient(to right, rgb(109, 239, 2), rgb(255, 255, 0));
    transition: transform 0.3s ease;
}

.btn:active {
    transform: translateY(-50%);
    /* transform: scale(0.92); */
}

.prev {
    top: 50%;
    left: 5%;
}

.next {
    top: 50%;
    right: 5%;
}

@media(max-width:768px) {
    .carousel-track img {
        height: 300px;
    }
}