* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    background-color: blueviolet;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
}

.nav-Links a {
    color: aliceblue;
    text-decoration: none;
}

.parent {
    width: 300px;
    height: 300px;
    color: antiquewhite;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    color: white;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 200px;
    background-color: brown;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 600px;
    border: 2px solid black;
}

.card {
    height: 100px;
    background: lightblue;
    border: 1px solid blue;
    flex-basis: 200px;
    /* flex-grow:1 ; */
    flex-shrink: 1;
}