* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100%;
    height: 100vh; */
    background: black;
}

.div-group {
    display: flex;
    gap: 20px;
}

.box {
    width: 200px;
    height: 200px;
    margin: 20px;
    transition: border-radius 0.7s ease-out;
    background: linear-gradient(to right, red, yellow, blue, orange);
}

.box:hover {
    border-radius: 50%;
}

.box1 {
    width: 200px;
    height: 200px;
    margin: 20px;
    background: linear-gradient(to left, red, yellow);
}

.box2 {
    margin: 20px;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    background: linear-gradient(to right bottom, rgb(33, 217, 246) 30%, rgb(64, 24, 227));
}

.box3 {
    margin: 20px;
    width: 200px;
    border-radius: 50%;
    height: 200px;
    background: linear-gradient(to left bottom, rgb(58, 224, 13) 10%, rgb(203, 224, 11) 70%);
}

.div-wrap {
    width: 200px;
    height: 200px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;

    transition: width 0.5s ease, height 0.3s ease;
    background: linear-gradient(320deg, black 5%, yellow);
}

.box4:hover {
    width: 100px;
    height: 100px;
}

.btn {
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
    background: linear-gradient(to right, blue, rgb(12, 153, 241));
}

.btn:active {
    transform: scale(0.91);
}