* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    font-weight: 900;
}

body {
    padding-top: 50px;
}

.navbar {
    display: flex;
    background-color: brown;
    color: aliceblue;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}

.menu {
    position: relative;
}

.menu-btn {
    padding: 10px;
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 10px;
    border: none;
    font-weight: 700;
}

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(21, 239, 112);
    display: none;
    /* z-index: 10; */
    min-width: 150px;
}

.menu:hover .dropdown {
    display: block;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.dropdown a:hover {
    background-color: gold;
}

.content {
    background-color: black;
    color: antiquewhite;
    padding: 15px;
    height: 300px;
}

.heading {
    color: blueviolet;
    font-weight: 900;
    background-color: yellowgreen;
}

.box {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    position: fixed;
}

.section {
    height: 300px;
    background-color: cadetblue;
    overflow: none;
}

.section {
    height: 400px;
    /* IMPORTANT: scroll space */
    border: 1px solid #ccc;
}

.title {
    position: sticky;
    top: 0;
    /* yahin pe chipkega */
    background: yellow;
    padding: 10px;
}

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}